* {
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    min-block-size: 100vh;
    display: grid;
    place-items: center;
}
